.addvertisement {
    /*margin: 0;
    height: 10vh;
    width: 100%;
    font-family: "Dancing Script";
    background: red;*/
    animation: colorchange 3s infinite;
    -webkit-animation: colorchange 3s infinite;
    /* animation-name followed by duration in seconds*/
    /*/ you could also use milliseconds or something like 2.5s / 
   
    / Chrome and Safari /*/
}

.addvertisementtext {
    /*position: relative;*/
    text-align: center;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*font-size: calc(1em);*/
    /*white-space: nowrap;*/
    color: antiquewhite;
    animation: textAnimate .5s linear infinite alternate;
    background: linear-gradient(92deg, #95d7e3, #eb76ff);
    background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff,#d2d2b2);
    background-size: 400vw 400vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*padding: 30px 0;*/
}

.addvertisementtext a{
    font-weight: 800;
    font-size: 1.5rem;
}

@keyframes textAnimate {
    from {
        filter: hue-rotate(0deg);
        background-position-x: 0%;
    }

    to {
        filter: hue-rotate(360deg);
        background-position-x: 600vw;
    }
}

@keyframes colorchange {
    0% {
        background: red;
    }

    25% {
        background: yellow;
    }

    50% {
        background: blue;
    }

    75% {
        background: green;
    }

    100% {
        background: red;
    }
}

@-webkit-keyframes colorchange
/*/ Safari and Chrome - necessary duplicate /*/ 
{
    0%

{
    background: red;
}

25% {
    background: yellow;
}

50% {
    background: blue;
}

75% {
    background: green;
}

100% {
    background: red;
}
}
