
.clear {
    clear: both;
}
th {
    font-size: 14px;
}

td {
    font-size: 13px;
}


div.dataTables_length {
    float: right;
}
/*.dt-buttons {

        }*/
/*div.dataTables_length select {
            font-size:17px;

        }*/
/*div.dataTables_length> label {
            display: none;
        }*/
div.dataTables_filter {
    float: left;
    /*font-size: 17px;*/
}

div.dt-buttons {
    float: right!important;
    /*font-size: 19px !important;*/
}
/*div.dataTables_info {
            float: left;
        }*/

div.dataTables_paginate {
    float: right;
}

div.DTTT {
    float: left;
    margin-right: 50px;
}

div.buttons {
    clear: both;
}

.fas, .far {
    font-size: 10px !important;
}


table.dataTable tbody td, .sorting {
    vertical-align: middle;
    text-align: center;
}

.sorting_asc {
    color: green;
    vertical-align: middle;
    text-align: center;
    font-style: oblique;
}

.sorting_desc {
    color: #0932d1;
    vertical-align: middle;
    text-align: center;
    font-style: oblique;
}

.table-sm th {
    padding: .8em;
    background: rgb(192,196,196);
    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
}

#styletext {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-weight: 100;
    font-size: 28px;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    /*font-weight: 400;
    font-size: 15px;*/
    /*flex-direction: row;*/
}
btn.mdi {
    padding: 1px 2px;
}
/*th:last-child, td:last-child {
    position: sticky;
    right: 0px;
}*/
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}
/*for responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before{
    top:5px;
}
/*footer */
footer,
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

.custombutton {
    padding: .8em;
    background: rgb(192,196,196);
    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.select2-container .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);    
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    margin-bottom: 3px;
}
/*button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled), button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled), div.dt-button:active:not(.disabled), div.dt-button.active:not(.disabled), a.dt-button:active:not(.disabled), a.dt-button.active:not(.disabled) {
    background-image: none;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    border: none;
}*/

/*button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled) {
    background-image: none;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    border: none;
}*/


/*div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled) {
    background-image: none;
    background-color: #007bff!important;
    color: #fff!important;
    border: none;
}*/

div.dt-button-collection a.dt-button.active:not(.disabled) {
    background-image: none !important;
    /*color: #fff;*/
    background-color: #0069d9;
    border-color: #0062cc;
    border: none !important;
}

div.dt-button-collection {
    width: 250px;
    border: none;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(odd) {
    background-color: #F3F3F3;
}

table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(even) {
    background-color: white;
}

table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top: none;
}

i.mdi.mdi-view-column {
    display: inline;
}
/*.nicescroll{
          height:400px;
      }*/
/*th.dt-invisible-column {
            border: 0 !important;
            padding: 0 !important;
        }*/
/*div.dt-button-collection.fixed.two-column {
            margin-left: 195px;
            margin-top: -85px!important;
        }*/
div.dt-button-collection.two-column {
    width: 510px;
    left: -240px !important;
}

button.dt-button, div.dt-button, a.dt-button {
    background-image: none!important;
    border: none!important;
}

    button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
        background-image: none!important;
        border: none!important;
    }
/*Child rows (show extra / detailed info)*/
td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

/*new scroll added by shahinur*/
/*#boxscroll {
    padding: 40px;
    height: 220px;
    width: 300px;
    border: 2px solid #00F;
    overflow: auto;
    margin-bottom: 20px;
}*/

/*.nicescroll-cursors {
    background-color: #7719AA !important;
    background: rgb(144,137,137);
    background: linear-gradient(90deg, rgba(144,137,137,0.7147233893557423) 0%, rgba(191,189,222,0.7147233893557423) 49%, rgba(121,116,116,1) 100%);
    background-color: rgb(19, 39, 147);
    border: 1px solid rgb(2, 35, 98);
    width: 10px !important;
}*/
/*end*/

.DTFC_LeftBodyLiner {
    overflow-y: hidden!important;
}

.DTFC_RightBodyLiner {
    overflow-y: hidden!important;
}

/**/

.custombutton {
    padding: .8em;
    background: rgb(192,196,196);
    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.chart {
    width: 100%;
    min-height: 450px;
}
.input-validation-error {
    border: 2px solid #f00;
    background: #fee;
}

.txtMultMachinaryLC.selected {
    background: linear-gradient(0deg, rgba(86, 230, 56, 0.38) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(160, 235, 157, 0.55) 100%);
    font-weight: bolder;
    /*color: #006100;
        background: rgb(18,180,77);
        background: linear-gradient(0deg, rgba(18,180,77,0.2246965680803571) 1%, rgba(255,255,255,0.6224556717218137) 66%, rgba(6,139,2,0.07343606387867652) 100%);
        font-weight: bolder;*/
}

.txtMultpidetails.selected {
    background: linear-gradient(0deg, rgba(86, 230, 56, 0.38) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(160, 235, 157, 0.55) 100%);
    font-weight: bolder;
    /*color: orangered;
        background: rgb(18,180,77);
        background: linear-gradient(0deg, rgba(18,180,77,0.2246965680803571) 1%, rgba(255,255,255,0.6224556717218137) 66%, rgba(6,139,2,0.07343606387867652) 100%);
        font-weight: bolder;*/
}
