
div.dataTables_length {
    float: left;
}

div.dataTables_filter {
    float: right;
}

div.dataTables_info {
    float: left;
}

div.dataTables_paginate {
    float: right;
}

div.DTTT {
    float: left;
    margin-right: 50px;
}

div.buttons {
    clear: both;
}

.fas, .far {
    font-size: 10px !important;
}


table.dataTable tbody td {
    vertical-align: middle;
    text-align: center;
}
