
#ajax-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 100%;
    display: none;
    /*position: fixed;
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            opacity: 0.6;*/
    z-index: 99999;
}

th {
    font-size: 14px;
}

td {
    font-size: 13px;
}


div.dataTables_length {
    float: right;
}
/*.dt-buttons {

        }*/
/*div.dataTables_length select {
            font-size:17px;

        }*/
/*div.dataTables_length> label {
            display: none;
        }*/
div.dataTables_filter {
    float: left;
    /*font-size: 17px;*/
}

div.dt-buttons {
    float: right;
    font-size: 12px !important;
}
/*div.dataTables_info {
            float: left;
        }*/

div.dataTables_paginate {
    float: right;
}

div.DTTT {
    float: left;
    margin-right: 50px;
}

div.buttons {
    clear: both;
}

.fas, .far {
    font-size: 10px !important;
}


table.dataTable tbody td, .sorting {
    vertical-align: middle;
    text-align: center;
}

.sorting_asc {
    color: green;
    vertical-align: middle;
    text-align: center;
    font-style: oblique;
}

.sorting_desc {
    color: #0932d1;
    vertical-align: middle;
    text-align: center;
    font-style: oblique;
}

.table-sm th {
    padding: .8em;
    background: rgb(192,196,196);
    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
}



tr.newrowclass {
    background: linear-gradient(0deg, rgba(93, 162, 62, 0.62) 1%, rgba(201, 230, 207, 0.61) 65%, rgba(101, 192, 116, 0.43) 100%);
}

tr.statusnone {
    background: linear-gradient(0deg, rgba(243, 28, 58, 0.62) 1%, rgba(255, 136, 136, 0.61) 65%, rgba(190, 7, 16, 0.43) 100%);
}
/*.newrowclass {
            padding: .8em;
            background: rgb(192,196,196);
            background: linear-gradient(0deg, rgba(192,196,196,0.6224556717218137) 1%, rgba(255,255,255,0.6224556717218137) 65%, rgba(151,149,162,0.2527077725621498) 100%);
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 500;
            font-size: 15px;
        }*/
/*new style added by shahinur*/
.table td, .table th {
    padding: .45rem;
    border-top: none;
}

/*.form-control:focus {
    border-color: cadetblue;
    box-shadow: none;
}*/
/*.select2-container--default .select2-selection--multiple {
    border: none;
}*/
.select2-container--default .select2-selection--single {
    background-color: #fdfeff;
    /*border: 1px solid #e5e5e5;*/
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0px;
    transition: all 0.35s ease-in-out;
    height: calc(1.5em + .5rem + 2px);
    border-left: 3px solid #2962ff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    background-color: #fdfeff;
    /*border: 1px solid #e5e5e5;*/
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0px;
    transition: all 0.35s ease-in-out;   
    border-left: 3px solid #2962ff;
}
.input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext, .form-control{
    position: relative;
    /*background-color: #f9f9f9;*/
    background-color: #fdfeff;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0px;
    transition: all 0.35s ease-in-out;
    border-left: 3px solid #2962ff;
}
div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_length select {
    border: 1px solid #ced4da;
}
    .form-control.ui-state-highlight, .form-control.ui-widget-content .ui-state-highlight, .form-control.ui-widget-header .ui-state-highlight {
        /*border: 1px solid #dad55e;*/
        background: #fffa90;
        color: #777620;
        border-left: 3px solid #2962ff;
        border-bottom: 2px solid #ccc;
    }
    .custom-select {
        background-color: #f9f9f9 !important;
        height: calc(1.5em + .5rem + 2px);
    }

label {
    margin-bottom: .2rem;
    color: #505c69;
}

:focus {
    outline: none;
}


.input-group > .custom-select:focus, .input-group > .form-control:focus, .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus, .form-control:focus {
    border: none;
    border-bottom: 3px solid #2962ff;
    display: block;
    transition: all 0.15s linear;
    border-left: 3px solid #2962ff;
}

.form-control[readonly] {
    background-color: #e9ecef;
}

.borderTopStyle {
    border-top: 7px solid #a0b4ca;
}


table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected,.txtMultExportInvoice.selected {
    background: linear-gradient(0deg, rgba(58, 140, 41, 0.57) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(83, 196, 78, 0.55) 100%);
    font-weight: bolder;
    /*color: #006100;
        background: rgb(18,180,77);
        background: linear-gradient(0deg, rgba(18,180,77,0.2246965680803571) 1%, rgba(255,255,255,0.6224556717218137) 66%, rgba(6,139,2,0.07343606387867652) 100%);
        font-weight: bolder;*/
}

.txtMultmasterlcdetails.tr.selected, .tblExportInvoice.tr.odd.selected, .tblExportInvoice.tr.even.selected {
    background: linear-gradient(0deg, rgba(86, 230, 56, 0.38) 1%, rgba(220, 255, 192, 0.59) 66%, rgba(160, 235, 157, 0.55) 100%);
    font-weight: bolder;
    /*color: orangered;
        background: rgb(18,180,77);
        background: linear-gradient(0deg, rgba(18,180,77,0.2246965680803571) 1%, rgba(255,255,255,0.6224556717218137) 66%, rgba(6,139,2,0.07343606387867652) 100%);
        font-weight: bolder;*/
}
table.dataTable.display tbody > tr.odd.selected {
    background-color: transparent;
}


.clickchk {
    height: 22px;
    width: 22px;
}

/*.fixedcolumnfahad th:first-child, .tblmasterlclist tbody td:first-child {
    position: sticky !important;
    left: 0px;
    background-color: #f2f2f2e6;
    z-index: 1;
}

.fixedcolumnfahad tfoot td:first-child {
    position: sticky;
    left: 0px;
    z-index: 1;
}


.fixedcolumnfahad th:nth-child(2) {
    position: sticky !important;
    left: 0px;
    background-color: #f2f2f2e6;
    z-index: 1;
}

.fixedcolumnfahad tbody td:nth-child(2) {
    position: sticky;
    left: 0px;
    z-index: 1;
}


.fixedcolumnfahad th:last-child, .tblmasterlclist tbody td:last-child {
    position: sticky !important;
    right: 0px;
    background-color: #f2f2f2e6;
    z-index: 1;
}

.fixedcolumnfahad tfoot td:last-child {
    position: sticky;
    right: 0px;
    z-index: 1;
}*/

/*input:focus {
              animation: glow 800ms ease-out infinite alternate;
              background: #222922;
              background: linear-gradient(#333933, #222922);
              border-color: rgba(81, 203, 238, 1);
              box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1), 0 2px 0 #80bdff;
              color: #efe;
              outline: none;
              box-shadow: 0 0 5px rgba(81, 203, 238, 1);              
              border-bottom: 1px solid rgba(81, 203, 238, 1);
            }
        @@keyframes glow {
             0%,
              100% {
                box-shadow: 0 0 0vw #1041FF, 0 0 0vw #1041FF, 0 0 1vw #1041FF, 0 0 1vw #1041FF, 0 0 .1vw #8BFDFE, .1vw .1vw .1vw #147280;
                border-bottom-color: #28D7FE;
              }
              50% {
                box-shadow: 0 0 .1vw #082180, 0 0 0.3vw #082180, 0 0 1vw #082180, 0 0 1vw #082180, 0 0 .1vw #082180, .1vw .1vw .1vw #0A3940;
                border-bottom-color: #146C80;
              }
         
        }*/
/*.btn {
             border-radius: 0;
        }*/
