.divider-left {
    border-left: 1px solid #d4ded9;
}
.usps-details {
    border-right: 1px solid #d4ded9;
    margin-right: -1px;
}
    .usps-details .account-promo {
        list-style: none;
        padding: 0;
        margin-left: 0;
    }
    .usps-details .usps-heading {
        padding-bottom: 0;
    }

.ui-panel-content {
    padding: 32px;
}
.fb-btn {
    width: 100%;
    text-shadow: 0 1px 0 #000;
    border-color: #4c69ba;
    background-color: #3b5999;
    color: #fff !important;
    text-align: center;
    font-size: 1rem;
    -webkit-box-shadow: 0 2px 0 #d4ded9;
    box-shadow: 0 2px 0 #d4ded9;
}