
@{
    ViewBag.Title = "RptPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RptPayment</h2>

<div>
    <button class="btn btn-info active" type="button" onclick="PrintPayment('rptPaymetnMonthly')"></button>
</div>

@section Scripts{
    <script>
        function PrintPayment()
    </script>
}